html,
body {
  height: 100%;
}


body {
  color: $default-text;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.main_container {
  max-width: 1770px;
  margin: 0 auto;

}

.sub_container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}
.min_container{
  max-width: 470px;
  margin: 0 auto;
  padding: 115px 0;
}

.title {
  text-align: center;
  font-size: 36px;
  line-height: 56px;
  @extend %dmsans-700;
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__items {
    margin-right: 8px;
    padding-right: 16px;
    position: relative;
    &::after {
        content: '/';
        @extend %rubik-500;
        position: absolute;
        color: #83898f;
        font-size: 14px;
        right: 0;
      }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
      &::after {
        content: none;
      }
    }
  }

  &__link {
    @extend %rubik-500;
    font-size: 14px;
    line-height: 24px;
    color: #83898f;
    text-decoration: none;
  }
}

