@media (max-width: 1400px) {
  .header-slider__item-inner {
    padding-left: 40px;
  }
  .lamp__item{
    display: block;
    position: relative;
    margin-bottom: 75px;
  }
  .lamp__item-content{
    max-width: 100%;
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;
    margin: 0 ;
    height: 185px;
    background-color: #fdefe2;
    padding-left: 50px;
  }
  .product-list1{

  }
  .filters{
    transform: translateX(0);
    transition: all .3s;
    position: static;
    &--hidden{
      position: absolute;
      transform: translateX(-200%);
      transition: all .1s;
    }
    &__btn{
      display: block;
    }
  }

}

@media (max-width: 1200px) {
  .menu {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(-200%);
    transition: all .2s;
    background-color: #fff;
    z-index: 1;

    &__lists {
      flex-direction: column;
    }

    &__list {
      text-align: center;

      & + & {
        margin-left: 0;
      }
    }

    &__link {
      display: block;
      padding: 10px 0;
    }

    &--active {
      opacity: 1;
      transform: translateY(0);
      transition: all .2s;
    }
  }

  .header-slider__images {
    background-image: none;
    padding: 100px 20px;
  }
  .header-slider__title {
    font-size: 48px;
    line-height: 55px;
  }
  .header-slider__top {
    padding: 0;
  }
  .slick-dots {
    position: relative;
    top: -30px;
  }
  .product{
    padding-bottom: 0;
  }
  .lamp__item-content{
    bottom: -50px;
  }
  .lamp__item-title{
    margin-bottom: 10px;
  }
  .lamp__item-text{
    margin-bottom: 24px;
  }
  .design__items{
    grid-template-columns: repeat(2,1fr);
  }
  .design__item{
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f8f8f8;
  }
  .insights__items{
    grid-template-columns: repeat(2,1fr);
  }
  .about{
    &__inner{
      justify-content: center;
    }
    &__img{
      margin-bottom: 50px;
    }
    &__list-item{
      text-align: center;
    }
  }

  .team{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
    &__info{
      max-width: 750px;
      margin-bottom: 40px;
    }
    &__title{
      text-align: center;
    }
    &__person{
      grid-template-columns: repeat(1, 1fr);
      //justify-items: center;
    }
  }

  .getInTouch{
    .getInTouch__items .getInTouch__item{
      padding: 50px;
    }
  }

  .geoAndForm{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
  }
  .map{
    order: -1;
    margin-bottom: 40px;
    max-width: 100%;
  }

  .product-detalis{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__content{
      max-width: 625px;
    }
  }

  .blog{
    &__inner{
      flex-direction: column;
      align-items: center;
    }
  }
  .blog-aside{
    order: -1;
    display: flex;
    flex-wrap: wrap;
    max-width: 830px;
  }
  .search{
    width: 100%;
    &__form-input{
      width: 100%;
    }
  }
  .filters__item.category-filters{
    flex-grow: 1;
  }
  .recent__items{
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px) {
  .footer {
    &__inner {
      flex-wrap: wrap;
    }
    &__item {
      margin-bottom: 20px;
    }
    &__item-form {
      max-width: 100%;
    }
  }
  .header-slider__images {
    display: none;
  }
  .header-slider__content {
    max-width: 100%;
    padding: 100px 40px;
  }
  .header-slider__bottom {
    flex-wrap: wrap;
  }
  .product__items {
    grid-template-columns: repeat(3, 1fr);
  }
  .lamp__item-content{
    bottom: -40px;
    padding-left: 20px;
  }
  .getInTouch{
    .getInTouch__items .getInTouch__item{
      padding: 15px;
    }
  }

  .product__item.product__item-list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .product__item-inner.product__item-list{
    height: 400px;
    margin-bottom: 20px;
    max-width: 330px;
    width: 100%;
  }
  .product__item-img.product__item-list{
    padding: 20px 25px;
  }
  .comments__item-content{
    margin-left: 30px;
  }

}

@media (max-width: 800px) {
  .footer {
    &__inner {
      justify-content: center;
    }

    &__item:first-child {
      max-width: 100%;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__bottom {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__copy {
      width: 100%;
      text-align: center;
      order: 1;
    }
  }
  .product__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .lamp__item{
    background-image: none !important;
    height: 200px;
    top: 0;
    margin-top: 60px;
  }
  .lamp__inner{
    flex-direction: column;
  }
  .lamp__item-content{
    bottom: 0;
    padding-top: 30px;
  }
  .lamp__item:last-child {
    margin-left: 0;
  }
  .design__items{
    grid-template-columns: repeat(1,1fr);
  }
  .insights__items{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
  }
  .partners{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-row-gap: 30px;
  }

  .info{
    padding: 50px 0;
    &__inner{
      flex-wrap: wrap;
    }
    &__item{
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }

  .getInTouch{
    &__items{
      flex-direction: column;
      align-items: center;
    }
    &__item{
      margin-bottom: 30px;
      &+&{
        margin-left: 0;
      }
    }
  }
  .product__item-content{
    margin-left: 0;
  }
  .product__item.product__item-list .product__item-content{
    padding: 0 20px;
  }
  .product-detalis__slider-bar{
    display: none;
  }
  .product-detalis__slider-main{
    margin-bottom: 20px;
    margin-right: 0;
    max-width: 386px;
    width: 100%;
  }
  .tabs__top{
    flex-direction: column;
    align-items: center;
  }
  .tabs__top-link {
    width: 100%;
    margin-bottom: 20px;
  }
  .recent{
    display: none;
  }
  .filters__item.category-filters{
    .filters__form{
      width: 100%;
    }
  }
  .blog__item-title{
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .user-nav {
    padding-top: 10px;
    width: 100%;
    justify-content: center;
  }
  .header__inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu {
    top: 200px;
  }
  .user-nav__item-search,
  .user-nav__group {
    margin-right: 35px;
  }
  .logo__link {
    margin-bottom: 10px;
  }

  .header-slider__title {
    font-size: 24px;
    line-height: 40px;
  }
  .header-slider__text {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 24px;
  }
  .header-slider__link {
    padding: 15px 70px 15px 15px;

    &::after {
      margin-left: 30px;
    }
  }
  .product__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .product {
    &__menu {
      &-btn {
        font-size: 12px;
        margin: 20px 0 30px;
        & + & {
          margin-left: 15px;
        }
      }
    }
  }
  .lamp__item-content{
    height: 220px;
  }
  .partners{
     grid-template-columns: repeat(2,1fr);
  }
  .form,
  .problem{
    padding: 0 20px;
  }

  .about{
    padding-bottom: 0;
    &__bottom{
      flex-direction: column;
    }
    &__bottom-item{
      border-right: none;
    }
  }
  .info{
    display: none;
  }

  .comments-form__box{
    flex-direction: column;
  }
  .comments-form__box .comments-form__label{
    max-width: 100%;
  }
  .comments-form__input{
    margin-bottom: 20px;
  }
  .related__slider-item{
    max-width: 100%;
  }
  .author-box{
    flex-wrap: wrap;
  }
  .author-box__links{
    padding-left: 103px;
  }
  .comments__item-img{
    display: none;
  }

}
@media (max-width: 450px) {
  .insights__title{
    font-size: 18px;
  }
  .insights__inner-top{
    flex-wrap: wrap;
  }
  .insights__link{
    display: block;
    width: 100%;
  }
  .partners{
     grid-template-columns: repeat(1,1fr);
  }

  .team{
    &__item-name{
      margin-bottom: 10px;
    }
    &__item-box{
      flex-wrap: wrap;
    }
  }
  .insights__bottom-link{
    display: block;
  }
  .insights__item-text,
  .insights__item-bottom{
    padding-left: 10px;
  }
  .product-detalis__form-label{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-detalis__form-btn{
    width: 100%;
    margin-top: 40px;
  }
  .product-detalis__slider-big{
    padding: 20px 0;
  }
  .related__top{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .blog__item-title{
    font-size: 28px;
    line-height: 40px;
  }
  .blog__item-box{
    width: 100%;
  }
  .comments__item-box{
    flex-wrap: wrap;
  }
  .comments__item-author{
    margin-right: 20px;
  }
}