@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 48px 0 45px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  position: relative;

  &__link {
    font-size: 36px;
    line-height: 58px;
    color: $main;
    text-decoration: none;
    @extend %rubik-500
  }

  &__link::before {
    content: url(../images/logo_icon.svg);
    margin-right: 13px;

  }
}

.menu {
  &__lists {
    display: flex;
  }

  &__list + .menu__list {
    margin-left: 35px;
  }

  &__link {
    font-size: 15px;
    line-height: 12px;
    color: $main;
    text-decoration: none;
    @extend %rubik-500
  }

}

.plus::after {
  content: '+';
  margin-left: 5px;

}

.user-nav {
  display: flex;
  align-self: flex-end;

  &__item-search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 130px;
    height: 50px;
    background-color: #fcd7b6;
    position: relative;
    margin-right: 45px;
  }

  &__group::before,
  &__group::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #fcd7b6;
    z-index: -1;
  }

  &__group::before {
    left: -25px;
  }

  &__group::after {
    right: -25px;
  }

  &__link {
    position: relative;

  }

  &__num {
    position: absolute;
    font-size: 10px;
    line-height: 18px;
    width: 16px;
    height: 16px;
    text-align: center;
    top: -8px;
    right: -8px;
    background-color: #fff;
    border-radius: 50%;
    @extend %dmsans-400
  }

  &__decoration {
    height: 33px;
    width: 1px;
    border-right: 1px solid #fde7d3;
  }

  &__btn {
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  &__btn-img {
    margin: 0 auto;
  }
}

.footer {
  &__top {
    padding: 75px 0 60px;
    border-bottom: 1px solid #dae4e9;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__item {
    width: 100%;
    max-width: 200px;
  }

  &__item-title {
    @extend %dmsans-700;
    font-size: 16px;
    color: $footer-title;
    text-transform: uppercase;
    margin-bottom: 15px;

  }

  &__item-content {
    @extend %rubik-400;
    margin-bottom: 10px;
  }

  &__item-link {
    color: $subtext;
    text-decoration: none;
  }

  &__item-form {
    max-width: 270px;
  }

  &__form {
    display: flex;
    margin-top: 35px;

  }

  &__form-input {
    width: 170px;
    padding: 12px 15px;
    @extend %dmsans-400;
    color: #234969;
    font-size: 12px;
    background-color: #fef7f0;
    border: none;

    &::placeholder {
      @extend %dmsans-400;
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    border: none;
    background-color: $price;
    @extend %dmsans-400;
    color: #fff;
    padding: 11px 15px 13px;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }

  &__menu {
    display: flex;
  }

  &__menu-item {
    margin-right: 10px;
  }

  &__menu-item + .footer__menu-item::before {
    content: '|';
    margin-right: 10px;
  }

  &__menu-link,
  &__copy {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
    color: $subtext;
    text-decoration: none;
  }

  &__menu-fix {
    margin-right: 0;
  }
}

.header-slider {
  &__top {
    background-color: #fcd7b6;
    padding: 80px 0 50px;
  }

  &__item-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__content {
    width: 100%;
    max-width: 420px;
  }

  &__title {
    font-size: 72px;
    line-height: 70px;
    color: $title;
    @extend %rubik-500;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    color: $main;
    @extend %rubik-400;
    margin-bottom: 54px;
  }

  &__link {
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    text-decoration: none;
    color: #fff;
    background-color: #a3bbc8;
    position: relative;
    padding: 24px 100px 24px 25px;

    &::after {
      content: url("../images/arrow.svg");
      position: absolute;
      transform: translateY(50%);
      margin-left: 55px;

    }
  }

  &__images {
    padding: 200px 130px 200px 0;
    background-image: url(../images/ellipse.png);
    background-position: center right;
    background-repeat: no-repeat;
  }

  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      margin-right: 10px;

      button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
      }

      &.slick-active {
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-around;
    background-color: #fef7f0;
  }

  &__bottom-item {
    padding: 35px 0 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & + & {
      border-left: 1px solid #e8e4df;
    }
  }

  &__bottom-image {
    padding-top: 12px;
    width: 50px;
    position: relative;
    margin-right: 30px;

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: rgba(163, 187, 200, 0.34);
      border-radius: 50%;
      right: -4px;
      bottom: -8px;
    }
  }

  &__bottom-align {
    align-self: center;
  }

  &__bottom-content {
    max-width: 214px;
  }

  &__bottom-title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
    color: $subtitle;
  }

  &__bottom-text {
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
    color: $subtext;
  }
}

.product {
  padding: 55px 0 85px;

  &__menu {
    display: flex;
    justify-content: center;

    &-btn {
      border: none;
      background-color: inherit;
      color: #8b8b8b;
      font-size: 16px;
      margin: 30px 0 80px;
      @extend %dmsans-700;
      cursor: pointer;

      & + & {
        margin-left: 25px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
  }

  &__item {
    padding: 30px 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__item-inner {
    position: relative;
    margin-bottom: 60px;
  }

  &__item-links {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: all 0.3s;
  }

  &__item:hover &__item-links {
    opacity: 1;
  }

  &__item-icon {
    fill: $price;
    transition: all 0.3s;
  }

  &__item-link:hover &__item-icon {
    fill: #ffffff;
  }

  &__item-link {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover {
      background-color: $price;
    }
  }

  &__item-title,
  &__item-price {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: $title;
  }

  &__item-price {
    @extend %dmsans-700;
    color: $price;
  }
}

.mixitup-control-active {
  color: #000;
}

.lamp {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 490px;
    width: 100%;
    max-width: 870px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &:last-child {
      margin-left: 30px;
    }
  }

  &__item-content {
    margin: 100px 50px 0 0;
    max-width: 330px;
  }

  &__item-title {
    @extend %dmsans-700;
    color: $title;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  &__item-text {
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: $title;
    margin-bottom: 35px;
  }

  &__item-link {
    padding: 20px 85px 20px 20px;
    position: relative;
    text-decoration: none;
    @extend %rubik-500;
    color: $title;
    font-size: 15px;
    border: 1px solid #436372;
    border-radius: 5px;

    &::after {
      content: url("../images/arrow-grey.svg");
      position: absolute;
      margin-left: 43px;
      top: 17px;
      right: 20px;
    }
  }
}

.design {
  padding: 100px 0 120px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }

  &__item {
    height: 246px;
    padding-top: 37px;
    padding-left: 37px;
  }

  &__item-title {
    @extend %dmsans-700;
    color: #191919;
    font-size: 20px;
    max-width: 175px;
    margin-bottom: 18px;
  }

  &__item-subtitle {
    @extend %dmsans-700;
    font-size: 16px;
    color: $price;
  }
}

.popup {
  &__inner {
    background-image: url(../images/popup-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    transition: all .5s;

    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }

}

.insights {
  background-image: linear-gradient(to top, #fef7f0 51%, #fff 49%);

  &__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 115px 0 45px;

  }

  &__link {
    @extend %dmsans-700;
    font-size: 16px;
    color: #262626;
    padding-right: 25px;
    text-decoration: none;
    position: relative;

    &::after {
      content: url("../images/shape.png");
      position: absolute;
      width: 7px;
      height: 12px;
      right: 0;
      top: 0;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__item {
    max-width: 370px;
    border-radius: 5px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    background-color: #fff;
  }

  &__item-images {
    position: relative;
    margin-bottom: 19px;
  }

  &__news::before {
    content: "NEWS";
    position: absolute;
    color: #fff;
    background-color: $price;
    @extend %poppins-700;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 30px;
    border-radius: 16px;
    bottom: -17px;
    left: 28px;
  }

  &__item-text {
    max-width: 317px;
    margin: 0 auto;
    padding: 18px 26px 18px 4px;
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
    border-bottom: 1px solid #e0e0e0;
  }

  &__item-bottom {
    max-width: 317px;
    padding: 20px 0 26px 4px;
    margin: 0 auto;
  }

  &__bottom-link {
    padding-left: 13px;
    position: relative;
    @extend %rubik-400;
    color: #222933;
    font-size: 12px;
    margin-right: 35px;
    text-decoration: none;

    &::before {
      content: url("../images/icon-i.png");
      position: absolute;
      left: 0;
      top: -5px;
    }
  }
}

.partners {
  padding: 90px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__bg {
    background-color: #fef7f0;
  }
}

.login {
  &__partners {
    justify-content: space-around;
  }
}

.top {
  padding: 30px 0;
  background-color: #edf1f4;

  &__title {
    @extend %rubik-400;
  }
}


.form {
  &__label,
  &__link {
    @extend %rubik-500;
    font-size: 14px;
    color: $main;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    height: 60px;
    border: 2px solid #edf1f4;
    margin-bottom: 25px;
  }

  &__button {
    border: none;
    background-color: $price;
    width: 100%;
    margin-top: 12px;
    color: #fff;
    padding: 18px 0;
    @extend %rubik-500;
    font-size: 18px;
    cursor: pointer;

  }

  &__box {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #edf1f4;
  }

  &__link {
    text-decoration: none;
  }

}

.problem {
  &__title {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 20px;
    color: $main;
    text-align: center;
    padding: 30px 0 25px;
  }

  &__link {
    display: block;
    text-decoration: none;
    @extend %rubik-500;
    font-size: 18px;
    border: 2px solid $price;
    text-align: center;
    color: $title;
    line-height: 56px;
  }

}

.product-list1__inner {
  display: flex;
}

.filters {
  margin-right: 30px;

  &__title {
    display: inline-block;
    @extend %dmsans-700;
    font-size: 18px;
    color: $title;
    padding-right: 55px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 3px;
      border-bottom: 3px solid $price;
      right: 0;
      top: 8px;

    }
  }

  &__form {
    width: 270px;
    padding: 30px 0;
  }

  &__item {
    padding-bottom: 60px;
  }
}

.product-list1 {
  padding: 120px 0;
}

//315x270
.category-filters {

  &__input {
    @extend %input-hiden;

    &:checked + .category-filters__checkbox {
      background-color: #edf1f4;
    }
  }

  &__checkbox {
    @extend %rubik-400;
    font-size: 16px;
    color: $title;
    cursor: pointer;
    padding: 10px 15px 8px;
    position: relative;

    &::before {
      content: url("../images/shape.png");
      position: absolute;
      right: 23px;

    }
  }
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-line {
  top: 11px;
  height: 3px;
  background-color: #c2d2db;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 10px;
  height: 4px;
  background-color: $price;
}

.irs--flat .irs-handle {
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: $price;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs-from, .irs-to, .irs-single {
  display: none;
}

.price-filters {
  &__input-box {
    display: flex;
    justify-content: space-between;
  }

  &__input-span {
    @extend %rubik-400;
    font-size: 14px;
    color: $title;
  }
}

.brand-filters {
  &__input {
    @extend %input-hiden;

    &:checked + .brand-filters__checkbox {
      background-color: #edf1f4;

      .brand-filters__checkbox-num {
        color: $title;
      }
    }
  }

  &__checkbox {
    @extend %rubik-400;
    font-size: 16px;
    color: $title;
    cursor: pointer;
    padding: 10px 15px 8px;
    display: flex;
    justify-content: space-between;
  }

  &__checkbox-num {
    color: $price;
  }
}

.recent {
  &__items {
    margin-top: 13px;
    padding-top: 1px;
  }
}

.recent-item {
  margin-top: 23px;

  display: flex;

  &__link {
    text-decoration: none;


  }

  &__img {
    height: 70px;
    max-width: 70px;
    width: 100%;
    border: 2px solid rgb(242, 242, 242);
    margin-right: 18px;
  }

  &__content {
    @extend %rubik-400;
    font-size: 14px;
    color: #333333;

  }

  &__content-title {
    margin-bottom: 5px;
    @extend %rubik-400;
    font-size: 14px;
    color: #333333;
  }

  &__content-price {
    display: block;
    margin-top: 5px;
  }
}

.jq-ry-container {
  padding: 0;
}

.product__wrapper {
  grid-template-columns: repeat(3, 270px);
}

.pagination {
  padding-top: 108px;

  &__list {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list-item {
    margin-right: 16px;
  }

  &__list-link {
    @extend %rubik-400;
    font-size: 16px;
    padding: 14px 19px;
    border: 1px solid $price;
    color: $title;
    text-decoration: none;

    &:hover {
      background-color: $price;
      color: #fff;
    }
  }

  &__list-link--active {
    background-color: $price;
    color: #fff;
  }
}

.product__item.product__item-list {
  flex-direction: row;
  padding: 0;
  box-shadow: none;
  margin-bottom: 40px;
}

.product__item-img.product__item-list {
  width: 100%;
  padding: 80px 25px;
}

.product__item-inner.product__item-list {
  margin-bottom: 0;
  height: 500px;
  width: 330px;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__item-title.product__item-list {
  @extend %rubik-400;
  font-size: 40px;
  color: #333;
}

.product__item-price.product__item-list {
  @extend %rubik-400;
  font-size: 30px;
  color: #333;
}

.product__item-content {
  margin-left: 55px;
}

.product__item-text {
  @extend %rubik-400;
  font-size: 16px;
  max-width: 440px;
  color: $title;
  margin-bottom: 50px;
}

.item__box {
  display: flex;
}

.product__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: $price;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  @extend %rubik-400;
  font-size: 15px;

  span {
    display: none;
  }

  &:hover + .white-btn {
    display: none;
  }

  &:hover {
    .cart-white {
      display: none;
    }

    span {
      display: block;
    }

    width: 208px;
    border-radius: 5px;
  }

  &.white-btn {
    background-color: #fff;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-left: 11px;

    &:hover {
      width: 50px;
      border-radius: 0;
    }
  }
}

.product__item-li {
  margin-bottom: 15px;
}

.product-detalis {
  padding: 120px 0 100px;

  &__inner {
    display: flex;

  }

  &__slider-bar {
    max-width: 140px;
    width: 100%;
    margin-right: 25px;
  }

  &__slider-small {
    max-width: 140px;
    width: 100%;
    height: 160px;
    object-fit: contain;
    border: 2px solid #f2f2f2;
    margin-bottom: 14px;

  }

  &__slider-main {
    width: 386px;
    height: 530px;
    margin-right: 70px;
  }

  &__slider-big {
    padding: 60px 75px;
    width: 386px;
    height: 528px;
    object-fit: contain;
    border: 2px solid #f2f2f2;
  }

  &__content {
    width: 100%;
    @extend %rubik-400;
    color: #333;
  }

  &__title {
    @extend %rubik-400;
    font-size: 40px;
    margin-bottom: 25px;
  }

  &__price {
    margin-top: 35px;
    font-size: 30px;
    margin-bottom: 25px;
  }

  &__text {
    color: $title;
    font-size: 16px;
    line-height: 30px;
    max-width: 535px;
    margin-bottom: 25px;
  }

  &__form {
    margin-bottom: 55px;
  }

  &__form-input {
    height: 53px;
    width: 148px;
    font-size: 15px;
    @extend %rubik-400;
  }

  &__form-btn {
    height: 53px;
    padding: 0 50px;
    background-color: $price;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  &__description-item {
    text-decoration: none;
    color: $title;
    font-size: 16px;
    @extend %rubik-400;
    margin-bottom: 15px;
  }

  &__description-link {
    text-decoration: none;
    color: $title;
    font-size: 16px;
    @extend %rubik-400;
  }
}
.jq-number.product-detalis__form-input{
  margin-right: 15px;
}
.jq-number__field input{
  text-align: center;
}

.jq-number{
  position: relative;
}

.jq-number__field {
  width: 100%;
  border: 1px solid $price;
}

.jq-number__spin {
  position: absolute;
  width: 49px;
  height: 53px;
  user-select: none;
  cursor: pointer;

  &:after {
    content: "+";
    position: absolute;
    top: 15px;
    left: 13px;
    width: 0;
    height: 0;
    font-size: 20px;
  }

}

.jq-number__spin.minus {
  width: 49px;
  height: 53px;
  top: 0;
  left: 0;
  border-right: 1px solid $price;

  &:after {
    content: "-";
    left: 20px;
  }
}

.jq-number__spin.plus {
  top: 0;
  right: 0;
  border-left: 1px solid $price;
  &:after {
  }
}

.tabs{
  &__inner{

  }
  &__top{
    display: flex;
    justify-content: center;
    @extend %rubik-500;
    margin-bottom: 30px;
  }
  &__top-link{
    display: inline-block;
    width: 241px;
    text-decoration: none;
    color: $title;
    background-color: #edf1f4;
    border-radius: 5px;
    margin-left: 13px;
    text-align: center;
    font-size: 18px;
    line-height: 53px;
    &--active{
      color: #fff;
      background-color: $price;
    }
  }
  &__content{
    @extend %rubik-400;
    font-size: 16px;
    margin-bottom: 60px;
  }
  &__content-item{
    display: none;
    &--active{
      display: block;
    }
  }
}

.related{
  &__inner{

  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
  }
  &__title{
    text-align: left;
  }
  &__control{
    button{
      width: 50px;
      height: 50px;
      background-color: #fff;
      border: 2px solid $price;
      border-radius: 5px;
      img{
        margin: 0 auto;
      }
    }
    .slick-prev.slick-arrow{
      img{
        transform: rotate(180deg);
      }
    }
    .slick-prev.slick-arrow.slick-disabled,
    .slick-next.slick-arrow.slick-disabled{
      border-color: #edf1f4;
    }
  }
  &__slider{
    .slick-track{
      padding: 30px 0;
    }
  }
  &__slider-item{
    max-width: 270px;
    width: 100%;
  }
}

.blog{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__items{
    max-width: 830px;
    width: 100%;
  }
  &__item{

  }
  &__item-wrapper{
    position: relative;
  }
  &__item-img{
    max-width: 830px;
    width: 100%;
    object-fit: cover;
  }
  &__item-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 275px;
    font-size: 14px;
    @extend %rubik-400;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $price;
    line-height: 70px;
    color: #fff;
  }
  &__item-date,
  &__item-author{
    padding-left: 18px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      width: 13px;
      height: 13px;
      top: 27px;
    }
  }
  &__item-date:before{
    background-image: url(../images/calendar-white.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__item-author:before{
    background-image: url(../images/user.svg);
    background-position: center center;
    background-repeat: no-repeat;

  }
  &__item-title{
    @extend %rubik-400;
    font-size: 36px;
    padding: 35px 0;
    color: #333;
  }
  &__item-text{
    @extend %rubik-400;
    font-size: 16px;
    color: $title;
    line-height: 30px;
    margin-bottom: 35px;
  }
  &__item-link{
    display: inline-block;
    padding: 0 85px 0 20px;
    line-height: 60px;
    text-decoration: none;
    color: $price;
    border: 1px solid $price;
    position: relative;
    margin-bottom: 50px;
    &:before{
      content: url("../images/arrow-light-grey.svg");
      fill: $price;
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
}

.blog-aside{
  max-width: 270px;
  width: 100%;
}

.search{
  padding-bottom: 60px;
  &__form-label{
    display: flex;
    align-items: center;
  }
  &__form-input{
    width: 230px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #edf1f4;
    padding-right: 9px;
    outline-color: #eef2f9;
  }
  &__form-btn{
    width: 48px;
    height: 43px;
    border-radius: 5px;
    margin-left: -9px;
    cursor: pointer;
    background-color: #edf1f4;
    border: none;
    img{
      margin: 0 auto;
    }
  }
}

.recent-post__img,
.recent-post__link{
  width: 71px;
  height: 71px;
}
.recent-post__content{
  margin-left: 20px;
}
.recent-date{
  position: relative;
  padding-left: 19px;
  font-size: 12px;
  color: #9a9a9a;
  text-transform: uppercase;
  line-height: 17px;
  &:before{
    content: url("../images/calendar.svg");
    position: absolute;
    left: 0;
  }
}

.pagination.blog-pagination{
  padding-top: 27px;
}
.pagination__list.pagination-blog__list{
  justify-content: flex-start;
}


@import "media";
